{% extends "blog/base.html" %}
{% load static %}
{% block banner %}
    <!-- banner -->
    <div class="about-banner" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url('{% static 'blog/images/about banner.jpg' %}') center/cover no-repeat fixed;">
      <!-- <img src="./images/bg.jpg" alt="" srcset=""> -->
      <div class="banner-info">
        <h2>About US</h2>
        <br>
        <h1>At Better Life Health</h1>
        <h2>Care</h2>

        <p>Better-Life at Home and Everywhere</p>
      </div>
    </div>
    <!-- end banner -->
{% endblock banner %}
{% block content %}
    <div class="little-about-us section-container">
      <p>Health-Care in Nigeria is evolving and at the same time diversifying to meet the needs of patients. A dire patient need in an era of pandemics is reducing number of hospital visits except when necessary.</p>
      <p>At <b>Best-Life Health Care</b> we make quality healthcare services accessible and affordable from the comfort of your homes and work place. </p>
    </div>
       <!-- our service -->
    <article class="section-container">
      <!-- section-heading -->
      <div class="section-heading">
        <h2>What We Provide</h2>
      </div>
      <!-- section-heading -->
      <div class="our-services">
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-home"></i>
          </div>
          <div class="service-info">
            <p>Home Medical Consultation </p>
          </div>
        </div>
        <!-- end single service -->
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-user-nurse"></i>
          </div>
          <div class="service-info">
            <p>Home Nursing Services </p>
          </div>
        </div>
        <!-- end single service -->
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-user-md"></i>
          </div>
          <div class="service-info">
            <p>Specialist Reviews (Cardiology, Neurology, Endocrinology, Nephrology, Plastic Surgery, Psychiatry)</p>
          </div>
        </div>
        <!-- end single service -->
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-user-secret"></i>
          </div>
          <div class="service-info">
            <p>Anonymous Groups and Support Cells for persons living with (Downs Syndrome, Sickle Cell Disease, Stroke, Parkinson Disease, Seizure Disorder, Dementia, Cancers)</p>
          </div>
        </div>
        <!-- end single service -->
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-person"></i>
          </div>
          <div class="service-info">
            <p>Geriatric-need-based care (Elderly persons)</p>
          </div>
        </div>
        <!-- end single service -->
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-bone"></i>
          </div>
          <div class="service-info">
            <p>Home based Physiotherapy</p>
          </div>
        </div>
        <!-- end single service -->
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-headphones"></i>
          </div>
          <div class="service-info">
            <p>Home based Speech/Swallow/Language Therapy</p>
          </div>
        </div>
        <!-- end single service -->
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-brain"></i>
          </div>
          <div class="service-info">
            <p>Cognitive Psychotherapy</p>
          </div>
        </div>
        <!-- end single service -->
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-handshake"></i>
          </div>
          <div class="service-info">
            <p>Corporate Health Delivery</p>
          </div>
        </div>
        <!-- end single service -->
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-phone"></i>
          </div>
          <div class="service-info">
            <p>Tele-medicine</p>
          </div>
        </div>
        <!-- end single service -->
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-people-carry"></i>
          </div>
          <div class="service-info">
            <p>Outreach Coordination</p>
          </div>
        </div>
        <!-- end single service -->
        <!-- single service -->
        <div class="single-service">
          <div class="service-icon">
            <i class="fas fa-user-alt"></i>
          </div>
          <div class="service-info">
            <p>Training Programme for patient care-givers</p>
          </div>
        </div>
        <!-- end single service -->
      </div>
    </article>
    <!-- end of our service -->
    <!-- our target -->
    <article class="section-container">
      <!-- section-heading -->
      <div class="section-heading">
        <h2>Our Target Persons/Groups</h2>
      </div>
      <!-- section-heading -->
      <div class="target-groups owl-carousel owl-theme">
        <!-- single target group -->
        <div class="single-target-group">
          <div class="single-target-img">
            <img src="{%static 'blog/images/old.jpg' %}" alt="">
          </div>
          <div class="single-target-detail">
            <p>Elderly</p>
          </div>
        </div>
        <!-- end of single target group -->
        <!-- single target group -->
        <div class="single-target-group">
          <div class="single-target-img">
            <img src="{%static 'blog/images/hospital.jpg' %}" alt="">
          </div>
          <div class="single-target-detail">
            <p>Post Hospital-discharge Needing Care</p>
          </div>
        </div>
        <!-- end of single target group -->
        <!-- single target group -->
        <div class="single-target-group">
          <div class="single-target-img">
            <img src="{%static 'blog/images/diabetes 1.jpg' %}" alt="">
          </div>
          <div class="single-target-detail">
            <P>Persons with Chronic Diseases</P>
          </div>
        </div>
        <!-- end of single target group -->
        <!-- single target group -->
        <div class="single-target-group">
          <div class="single-target-img">
            <img src="{%static 'blog/images/support.jpg' %}" alt="">
          </div>
          <div class="single-target-detail">
            <P>Persons needing Support Groups</P>
          </div>
        </div>
        <!-- end of single target group -->
        <!-- single target group -->
        <div class="single-target-group">
          <div class="single-target-img">
            <img src="{%static 'blog/images/minor illness.jpg' %}" alt="">
          </div>
          <div class="single-target-detail">
            <P>Persons with minor medical illness</P>
          </div>
        </div>
        <!-- end of single target group -->
        <!-- single target group -->
        <div class="single-target-group">
          <div class="single-target-img">
            <img src="{%static 'blog/images/rehab.jpg' %}" alt="">
          </div>
          <div class="single-target-detail">
            <P>Persons needing rehabilitation </P>
          </div>
        </div>
        <!-- end of single target group -->
      </div>
    </article>
    <!-- end our target -->
{% endblock content %}