{% extends "blog/base.html" %}
{% load static %}
{% block banner %}
    <!-- banner -->
    <div class="blog-banner" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url('{% static 'blog/images/bg2.jpg' %}') center/cover no-repeat fixed;">
      <!-- <img src="./images/bg.jpg" alt="" srcset=""> -->
      <div class="banner-info">
        <h1>Better Life Health</h1>
        <h2>Consultancy</h2>
        <br>
        <h2>Blog</h2>
        <p>Read our Interesting Articles</p>
      </div>
    </div>
    <!-- end banner -->
{% endblock banner %}
{% block content %}
    <!-- our article -->
    <article class="section-container">
      <div class="articles">
        {% for post in items %}
        <!-- single article -->
        <div class="single-article" data-aos="fade-down" data-aos-duration="2000">
          <div class="article-img">
            <img src="{{post.thumbnail_url}}" alt="{{ post.title }}">
          </div>
          <div class="article-date"><i class="fas fa-calendar"></i> {{ post.updated|date:'F d , Y' }}</div>
          <div class="article-info">
            <div class="article-heading">
              <a href="{{ post.get_absolute_url }}"><h3>{{post.title}}</h3></a>
            </div>
            <div class="article-brief">
              {{ post.content|safe|truncatewords:18 }}
            </div>
            <div class="read-more-btn">
              <a href="{{ post.get_absolute_url }}">Read More <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <!-- end of single article -->
        {% endfor %}

      </div>
    </article>
    <!-- end our article -->
    {% include "blog/pagination.html" %}
{% endblock content %}